main {
    overflow: hidden;
}

#about {
    background-color: var(--main-background);
    position: relative;
}

.about-black-div {
    background-color: var(--main-background);
    width: 200%;
    height: 8rem;
    position: absolute;
    top: -8rem;
    transform: rotate(-4deg);
    z-index: 1;
}

.about-container {
    padding: 1rem 0;
}

.about-text-container {
    height: 100%;
    display: grid;
    align-items: center;
    z-index: 2;
    position: relative;
}

.about-text-h4 {
    color: var(--main-white);
}

.about-text-h2 {
    color: var(--main-orange);
    font-size: 2.5rem;
    font-weight: 700;
    z-index: 2;
}

.about-text-p {
    color: #E8EAED;
}

.text-color {
    color: var(--main-orange);
}

.about-img-container {
    height: 100%;
    display: grid;
    align-items: center;
}

.about-img {
    width: 100%;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .about-container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }

    .about-img {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .about-text-h2 {
        color: var(--main-orange);
        font-size: 3rem;
        font-weight: 800;
    }

    .about-text-p,
    .text-color {
        font-size: 1.2rem;
    }
}

@media (min-width: 1200px) {}

@media (min-width: 1440px) {
    .about-text-h2 {
        color: var(--main-orange);
        font-size: 3.5rem;
        font-weight: 900;
    }

    .about-text-p,
    .text-color {
        font-size: 1.5rem;
    }
}