/* ----RESET------- */
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

/* ----RESET-END--- */

:root {
    --main-paleorange: #eea849;
    --main-orange: #f46b45;
    --main-white: #ffffff;
    --main-black: #000000;
    --main-background: #111111;
    --main-background-price: #181818;
    --main-font-color: #0B0B0B;
    --main-gray: #dadada;

    --footer-color: #020202;

    --menu-border1: #333;
    --menu-border2: #444;


    --font-color: #b1aeae;
    --font-color-secondary: #E8EAED;

    --price-bronz: #cd7f32;
    --price-silver: #C0C0C0;
    --price-gold: #FFD700;
}

.container-my {
    max-width: 1440px;
    width: 95%;
    margin: auto;
}