#location {
    background-color: var(--main-background);
}

.location-content-container {
    padding: 2rem 1rem;
}

.location-content-head {
    display: flex;
}

.location-content-container>h5 {
    color: var(--main-orange);
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    text-decoration: underline;
    text-align: center;

}

.location-content-container>h6 {
    color: var(--font-color-secondary);
    font-size: 1.2rem;
    text-align: center;
    list-style: none;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    .location-container {
        display: grid;
        grid-template-columns: 60% 40%;
    }
}

@media (min-width: 1200px) {}

@media (min-width: 1440px) {}