#references {
    border-top: 4px solid var(--main-orange);
    background-color: var(--main-background);
}

/* ----slide----- */
.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    background-color: var(--main-background);
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 500px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider::before,
.slider::after {
    /*  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); */
    content: "";
    height: 500px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    width: 230px;
    height: 250px;
    margin: 0 10px;
    display: grid;
    text-align: center;
}

/* ---slide-end--- */

.ref-img {
    width: 230px;
    height: 230px;
}

.ref-name {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: var(--main-white);
}

.ref-text {
    color: var(--main-white);
}

.ref-text>h6 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: var(--main-orange);
}