#references {
    border-top: 4px solid var(--main-orange);
    background-color: var(--main-background);
}

.references-h2 {
    text-align: center;
    color: var(--main-orange);
    font-size: 2.5rem;
    padding-top: 2rem;
    letter-spacing: 0.1;
    text-decoration: underline;
}

/* ----slide----- */
.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    background-color: var(--main-background);
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 550px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider::before,
.slider::after {
    height: 550px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    width: 230px;
    height: 250px;
    margin: 0 10px;
    display: grid;
    text-align: center;
}

/* ---slide-end--- */

.ref-img {
    width: 230px;
    height: 230px;
}

.ref-name {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: var(--main-white);
}

.ref-text {
    color: var(--main-white);
}

.ref-text>h6 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: var(--main-orange);
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1440px) {}