@media (min-width: 576px) {

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        height: 3rem;
    }

    .grid-contener-form-item3>label {
        padding: 0.3rem;
    }

    input[type="date"] {
        height: 3rem;
    }

    textarea[placeholder="Üzenet:"] {
        height: 9rem;
    }

    button[type="submit"] {
        height: 3rem;
    }
}

@media (min-width: 768px) {
    .about-container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }

    .about-img {
        width: 100%;
    }

    .services-container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }

    .grid-contener-form {

        width: 60vw;
        max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-areas:
            "formA formA"
            "formB formC"
            "formD formE"
            "formF formF"
            "formG formG";
    }

    .footer-content {
        display: grid;
        grid-template-columns: repeat(3, 3fr);
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .services-container {
        display: grid;
        grid-template-columns: repeat(3, 3fr);
    }
}

@media (min-width: 1440px) {}