@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* ---FONT-SETTING--- */
* {
  font-size: 16px;
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
}

/* ---COLOR-SETTING--- */
/* ---MEDIA-SETTING--- */
.navbar .navbar-brand,
.navbar a {
  color: #f46b45;
}

.opacity-90 {
  opacity: 0.9;
}

#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 60rem;
  display: grid;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.home-contant {
  margin: 2rem 0.5;
  color: #f46b45;
}
.home-contant h1 {
  color: #f46b45;
  font-size: 2.5rem;
  font-weight: 700;
}
.home-contant h3 {
  color: #b1aeae;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}
.home-contant h4 {
  color: #b1aeae;
  font-size: 1rem;
}

.home-button {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.home-button a {
  width: 8rem;
  font-weight: 600;
}
.home-button a:hover {
  transform: scale(1.1);
}

@media (min-width: 540px) {
  .home-button {
    gap: 2rem;
  }
  .home-contant {
    margin: 2rem;
  }
}
@media (min-width: 768px) {
  .home-contant h1 {
    font-size: 3rem;
  }
  .home-contant h3 {
    font-size: 1.5rem;
  }
  .home-contant h4 {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) {
  .home-contant-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
main {
  overflow: hidden;
}

#about {
  background-color: #111111;
  position: relative;
}

.black-div {
  background-color: #111111;
  width: 200%;
  height: 8rem;
  position: absolute;
  top: -8rem;
  transform: rotate(-4deg);
  z-index: 1;
}

.about-container {
  padding: 1rem 0;
}
.about-container .about-img-container {
  height: 100%;
  display: grid;
  align-items: center;
}
.about-container .about-img-container img {
  width: 100%;
}

.about-text-container {
  height: 100%;
  display: grid;
  align-items: center;
  z-index: 2;
  position: relative;
}
.about-text-container .about-text h4 {
  color: white;
}
.about-text-container .about-text h2 {
  z-index: 2;
}
.about-text-container .about-text p {
  color: #b1aeae;
}
.about-text-container .about-text p span {
  color: #f46b45;
}

@media (min-width: 768px) {
  .about-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
}
@media (min-width: 992px) {
  .about-img-container img {
    width: 100%;
  }
}
#services {
  background-color: #111111;
  border-top: 4px solid #f46b45;
}

.services-title {
  margin: 5rem 0 0;
  text-align: center;
}
.services-title h3 {
  margin-top: 1.2rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: white;
}
.services-title h2 {
  padding: 0 0.5rem;
}

.services-container {
  display: grid;
  grid-template-rows: repeat(6, 6fr);
  padding: 0 0 5rem;
}

.services-content {
  position: relative;
  border: 2px solid #f46b45;
  background-color: transparent;
  clip-path: polygon(0 0, 50px 0, 99% 1%, 100% 70%, 100% 100%, 70% 100%, 1% 99%, 0 50px);
  margin: 1rem;
  padding: 2rem;
  min-height: 300px;
}
.services-content::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.871);
  opacity: 0;
  z-index: 1;
  transform: scaleY(0);
  transform-origin: 100% 100%;
  transition: all 0.3s ease-in-out;
}
.services-content:hover::after {
  opacity: 1;
  transform: scaleY(1);
}
.services-content:hover .services-btn {
  opacity: 1;
  top: 40%;
}
.services-content h4 {
  font-size: 2rem;
  margin: 1rem 0;
  color: #f46b45;
  font-weight: 600;
}
.services-content p {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}

.services-icon {
  height: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: space-between;
  align-items: center;
}
.services-icon i {
  color: white;
  font-size: 2.5rem;
}

.compilation-container img {
  display: block;
  width: 100%;
  margin: 10px 0;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.services-btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  text-align: center;
  transition: all 0.3s ease-in-out 0.1s;
}
.services-btn > div {
  padding: 0 0 2rem;
}
.services-btn > div span {
  margin: 0 0.2rem;
  font-size: 1.2rem;
}
.services-btn h5 {
  font-weight: 600;
  color: white;
}
.services-btn h6 {
  color: white;
  padding-bottom: 0.3rem;
  font-weight: 600;
}

.bronz-color {
  color: #cd7f32;
}

.silver-color {
  color: #c0c0c0;
}

.gold-color {
  color: #ffd700;
}

@media (min-width: 768px) {
  .services-container {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, 3fr);
  }
}
@media (min-width: 1200px) {
  .services-container {
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(2, 2fr);
  }
}
#location {
  background-color: #111111;
}

.location-content-container {
  padding: 2rem 1rem;
}
.location-content-container .location-content-head h5 {
  color: white;
}
.location-content-container h6 {
  color: #e8eaed;
  font-size: 1.2rem;
  text-align: center;
  list-style: none;
}
.location-content-container p {
  color: #e8eaed;
}
.location-content-container p span {
  color: #f46b45;
}
.location-content-container h5 {
  color: #f46b45;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  text-decoration: underline;
  text-align: center;
}

.location-content-head {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
}

@media (min-width: 992px) {
  .location-container {
    display: grid;
    grid-template-columns: 60% 40%;
  }
}
#references {
  border-top: 4px solid #f46b45;
  background-color: black;
  padding: 5rem 0;
  text-align: center;
}

.slider-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
}

.ref-img-container img {
  width: 100%;
  border: 4px solid #f46b45;
  clip-path: polygon(0 0, 50px 0, 99% 1%, 100% 70%, 100% 100%, 70% 100%, 1% 99%, 0 50px);
}

.slider {
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-track {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ref-content {
  background: #dadada;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: space-around;
  align-items: center;
  padding: 10xp;
  position: absolute;
  border-radius: 100px 20px 20px 100px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  animation: animate 15s linear infinite;
  animation-delay: calc(3s * var(--delay));
}
.ref-content img {
  width: 100px;
  height: 100px;
  position: absolute;
  left: -5px;
  background: white;
  border-radius: 50%;
  padding: 1%;
  box-shadow: 0px 0py 5px rgba(0, 0, 0, 0.2);
}
.ref-content .ref-text {
  margin: 0 10px 0 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: normal;
  align-items: center;
}
.ref-content .ref-text h5 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.ref-content .ref-text h6 {
  font-size: 1rem;
  font-weight: 600;
}

.star-rating {
  margin: 0 0 0.5rem;
}
.star-rating span {
  font-size: 1.5rem;
}

.slider:hover .ref-content {
  animation-play-state: paused;
}

.slide-track .ref-content:last-child {
  animation-delay: calc(-3s * var(--delay));
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  5%, 20% {
    opacity: 0.4;
    transform: translateY(100%) scale(0.7);
  }
  25%, 40% {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%) scale(1);
  }
  45%, 60% {
    opacity: 0.4;
    transform: translateY(-100%) scale(0.7);
  }
  65%, 100% {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}
@media (min-width: 768px) {
  .ref-content img {
    width: 150px;
    height: 150px;
  }
}
@media (min-width: 1200px) {
  .slider {
    width: 50%;
  }
  .ref-img-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: center;
    align-items: normal;
  }
  .slider-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: normal;
    align-items: normal;
  }
}
#contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/contact-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  border-top: 4px solid #f46b45;
}

.contact h5 {
  font-style: italic;
  font-size: 1rem;
  margin: 0.5rem 1rem;
}

.contact-h {
  text-align: center;
  color: white;
  font-size: 1rem;
  margin-top: 5rem;
}

.form-contener {
  width: 100%;
  display: grid;
  justify-content: center;
  padding-bottom: 5rem;
}

.grid-contener-form-itemA {
  grid-area: formA;
}

.grid-contener-form-itemB {
  grid-area: formB;
}

.grid-contener-form-itemC {
  grid-area: formC;
}

.grid-contener-form-itemD {
  grid-area: formD;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.grid-contener-form-itemD {
  grid-area: formD;
}

.grid-contener-form-itemE {
  grid-area: formE;
}

.grid-contener-form-itemF {
  grid-area: formF;
}

.grid-contener-form-itemG {
  grid-area: formG;
}

.grid-contener-form {
  display: grid;
  grid-template-columns: 90vw;
  justify-content: center;
  grid-template-areas: "formA" "formB" "formC" "formD" "formE" "formF" "formG";
}
.grid-contener-form div {
  margin: 0.5rem;
}

.form-input:hover {
  box-shadow: #f46b45 0px 0px 0px 4px, #f46b45 0px 5px 7px -1px, #f46b45 0px 2px 0px inset;
}

#contact input[type=text],
#contact input[type=email],
#contact input[type=tel] {
  width: 100%;
  height: 2.5rem;
  text-align: center;
  font-size: 1.2rem;
  border: none;
  background-color: #dadada;
}

#contact input[type=radio] {
  width: 1rem;
  height: 1rem;
}

.grid-contener-form-item3 label {
  padding: 0.5rem;
}

input[type=date] {
  width: 100%;
  height: 2.5rem;
  border: none;
  text-align: center;
  background-color: #dadada;
}

#contact textarea[placeholder="Üzenet:"] {
  width: 100%;
  height: 8rem;
  border: none;
  background-color: #dadada;
}

#contact button[type=submit] {
  width: 100%;
  height: 2.5rem;
  text-align: center;
  font-size: 1.2rem;
}

@media (min-width: 540px) {
  #contact input[type=text],
  #contact input[type=email],
  #contact input[type=tel] {
    height: 3rem;
  }
  #contact input[type=date] {
    height: 3rem;
  }
  #contact textarea[placeholder="Üzenet:"] {
    height: 9rem;
  }
  #contact button[type=submit] {
    height: 3rem;
  }
}
@media (min-width: 768px) {
  .grid-contener-form {
    width: 60vw;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-areas: "formA formA" "formB formC" "formD formE" "formF formF" "formG formG";
  }
}
footer {
  background-color: #020202;
  height: 100%;
}

.footer-content {
  text-align: center;
  padding: 1rem 0;
}

.footer-div-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: space-between;
  align-items: normal;
}
.footer-div-info a {
  text-decoration: none;
  color: white;
}

.footer-information h5 a:hover {
  text-decoration: underline;
}

.footer-logo {
  display: none;
}

footer h2 {
  color: white;
  font-family: initial;
  text-shadow: 0px -3px 7px;
}
footer h3 {
  margin: 0.5rem 0;
  color: #eea849;
  text-decoration: underline;
  white-space: nowrap;
}
footer h4 {
  color: white;
}
footer h5 {
  color: white;
  margin: 0;
}
footer h5:hover {
  color: #eea849;
}
footer p {
  color: white;
  text-align: center;
}

.footer-img {
  display: block;
  width: 50vw;
  border: 2px solid white;
  border-radius: 10px;
  margin: 0.5rem auto;
  max-width: 10rem;
}
.footer-img:hover {
  cursor: pointer;
}

.footer-social-icon {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.footer-social-icon i {
  font-size: 2.5rem;
  color: #f46b45;
}
.footer-social-icon i:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: #eea849;
}

.footer-div-form {
  width: 100%;
}
.footer-div-form h4 {
  display: none;
}
.footer-div-form button {
  width: 40%;
  margin: 0 auto;
}
.footer-div-form button:hover {
  width: 50%;
  margin: 0 auto;
}

.footer-form {
  display: block;
  margin: 0 auto;
  width: 80%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1rem;
  border: none;
  color: #dadada;
}

@media (min-width: 540px) {
  .footer-content {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
}
@media (min-width: 768px) {
  .footer-grid-row1 {
    grid-row: 1/3;
  }
  .footer-content {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
  }
  .footer-logo {
    display: block;
  }
  .footer-div-app {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: space-between;
    align-items: normal;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .footer-content {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
  }
  .footer-social-icon,
  .footer-div-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: space-between;
    align-items: normal;
    text-align: center;
  }
  .footer-div-form h4 {
    display: block;
  }
}
.container-my {
  max-width: 1440px;
  width: 95%;
  margin: auto;
}

.text-h2 {
  color: #f46b45;
  font-size: 2.5rem;
  font-weight: 700;
}

.text-p {
  color: #e8eaed;
}
.text-p span {
  color: #f46b45;
}

@media (min-width: 992px) {
  .text-h2 {
    font-size: 3rem;
    font-weight: 800;
  }
  .text-p,
  .text-p span {
    font-size: 1.2rem;
  }
}
@media (min-width: 1440px) {
  .text-h2 {
    font-size: 3.5rem;
    font-weight: 900;
  }
  .text-p {
    font-size: 1.5rem;
  }
  .text-p span {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
