.container-my {
    max-width: 1440px;
    width: 95%;
    margin: auto;
}

.services-head {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../img/carousel-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 5px solid var(--main-paleorange);
    display: grid;
}

.services-grid-head {
    width: 95vw;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    justify-content: flex-end;
    grid-template-areas:
        "AH"
        "BH"
        "CH";
}

.main-p {
    color: var(--font-color);
    margin: 5rem 0 0 0;
    margin-bottom: 0;
}

.main-h2 {
    color: var(--main-orange);
    padding-top: 0.6rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    font-family: Georgia, serif;
    text-transform: uppercase;
    /* text-align: center; */
}

.main-h3 {
    font-size: 1.4rem;
    font-style: italic;
    color: var(--font-color);
    /* text-align: center; */
    padding-bottom: 2rem;
}

.grid-hed-0 {
    grid-area: AH;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.grid-hed-1 {
    grid-area: BH;
}

.grid-hed-2 {
    grid-area: CH;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: flex-start
}

.grid-hed-3>p {
    margin-bottom: 0;
    color: var(--font-color);
}

.h4-gold {
    color: var(--price-gold);
}

.h4-gold:hover {
    color: var(--price-gold);
    text-decoration: underline;
    text-shadow: var(--price-gold) 1px 0 10px;
}

.h4-silver {
    color: var(--price-silver);
}

.h4-silver:hover {
    color: var(--price-silver);
    text-decoration: underline;
    text-shadow: var(--price-silver) 1px 0 10px;
}

.h4-bronz {
    color: var(--price-bronz);
}

.h4-bronz:hover {
    color: var(--price-bronz);
    text-decoration: underline;
    text-shadow: var(--price-bronz) 1px 0 10px;
}

.grid-hed-2>h4 {
    padding: 1rem;
}

.grid-hed-2>h4>a {
    font-size: 1.4rem;
}

.grid-hed-2>h4:hover {
    transform: scale(1.3);
}

.grid-hed-2>h4>a {
    text-decoration: none;
}

/* ----description---- */
.description {
    padding: 5rem 0;
    background-color: var(--main-background);
}

.description-content {
    padding: 1.5rem 0;
}

.description-content h2 {
    color: var(--main-paleorange);
    font-size: 2rem;
    font-weight: 800;
}

.description p {
    color: var(--font-color);
    font-weight: 400;
}

.strong {
    text-transform: uppercase;
    font-weight: 500;
}

.description-h5 {
    text-align: center;
    color: var(--font-color);
    text-shadow: 1px 1px 2px pink;
}

.description-quote {
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border: 2px var(--main-orange) solid;
    background-color: transparent;
    clip-path: polygon(0 0, 50px 0, 99% 5%, 100% 70%, 100% 100%, 70% 100%, 1% 95%, 0 50px);
    padding: 2rem;
}

/* ---description-end-- */

/* -----PRICE----- */
#price-section {
    background-color: var(--main-background);
    border-top: 5px solid var(--main-paleorange);
    border-bottom: 5px solid var(--main-paleorange);
}

.price-container {

    margin: 2rem;
    background-color: var(--main-background);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.price-content {
    border-radius: 10px;
    height: 600px;
    width: 300px;
    min-width: 250px;
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-color: var(--main-background-price);
}

.price-head>h3 {
    text-align: center;
    padding: 0.5rem;
    font-size: 3rem;
    font-weight: 800;
}

.price-head>h4 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: underline;
}

.price-body>ul {
    display: inline-block;
    padding: 0.5rem;
}

.price-body>ul>li {
    list-style-type: "✓";
    font-size: 1.4rem;
    font-weight: 700;
}

.price-h3 {
    font-size: 3rem;
    font-weight: 600;
}

.price-button-container {
    padding: 1rem;
}

.price-button-container>button {
    width: 80%;
    height: 3rem;
}

/* --bronz-- */

.bronz-border {
    border: 2px solid var(--price-bronz);
}

.bronz-border:hover {
    box-shadow: var(--price-bronz) 0px 2px 8px, var(--price-bronz) 0px 0px 0px 6px;
}

.price-bronz-color {
    color: var(--price-bronz);
}

/* ----silver----- */

.silver-border {
    border: 2px solid var(--price-silver);
}

.silver-border:hover {
    box-shadow: var(--price-silver) 0px 2px 8px, var(--price-silver) 0px 0px 0px 6px;
}

.price-silver-color {
    color: var(--price-silver);
}

/* ---gold----- */

.gold-border {
    border: 2px solid var(--price-gold);
}

.gold-border:hover {
    box-shadow: var(--price-gold) 0px 2px 8px, var(--price-gold) 0px 0px 0px 6px;
}

.price-gold-color {
    color: var(--price-gold);
}

/* ---PRICE-END--- */

@media (min-width: 576px) {
    .grid-hed-2 {
        grid-area: CH;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }

    .services-head {
        height: 30rem;
    }

}

@media (min-width: 768px) {
    .main-h2 {
        font-size: 3.5rem;
    }

    .main-h3 {
        font-size: 1.8rem;
    }

    .services-head {
        height: 40rem;
    }

    .footer-content {
        display: grid;
        grid-template-columns: repeat(3, 3fr);
    }
}

@media (min-width: 992px) {

    .grid-hed-2 {
        grid-area: CH;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: flex-end;
        align-content: flex-end;
        margin-bottom: 4rem;
    }

    .services-head {
        height: 50rem;
    }

    .services-grid-head {
        grid-template-columns: 60% 40%;
        justify-content: flex-end;
        grid-template-areas:
            "AH CH"
            "BH CH";
    }
}

@media (min-width: 1200px) {}

@media (min-width: 1440px) {}